.button-purchase {
  border: none;
  background-color: transparent;
  color: gray;
  margin: 2% auto;
  padding-left: 0;
}

.button-purchase:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: relative;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.button-purchase:hover:after {
  width: 100%;
  left: 0;
}

.button-purchase:hover .button-arrow {
  transform: translate(15px, -10px);
}

.button-arrow {
  color: #9c9a93;
  transform: translate(5px, -2px);
  transition: 0.5s;
}

@media only screen and (max-width: 992px) {
  .button-purchase {
    display: block;
  }
}
